# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.log

# --- Virtuelle Umgebungen ---
venv/
.venv/
env/
.env

# --- Distribution / Packaging---
build/
dist/
*.egg-info/
.eggs/

# --- Test / Coverage ---
.coverage 
htmcov/
.tox/
.pytest_cache/

# --- IDE / Editor
.vscode/
.idea
*.swp
*.swo

# --- System Files ---
.DS_Store
Thumbs.db

# --- Database ---
db.sqlite3
db.sqlite3-journal

# --- Data / Files ---
media/